/datakilder1.R
/datakilderAndre.R
/dashboard/.Rhistory
/.#*
/#*#
/*.zip
/*.dcf
/enhetapp.dcf
/*.sty
/*.tex
*.sty
*.tex
*.log
*.fls
*.aux
*.fdb_latexmk
/ntrApp/.shiny_run/shinyShortcut.r
/ntrApp/shinyShortcut.desktop
/rapport/konferanse/document.odt
/rapport/konferanse/ntrkonferansen.docx
/rapport/kvartalsrap/NTRrapport.pdf
/traumeApp/NTRrapport.pdf
