/* align checkboxGroupInput */
.checkbox-inline {
    margin-left: 0px;
    margin-right: 1px;
}
.checkbox-inline+.checkbox-inline {
    margin-left: 0px;
    margin-right: 1px;
}

/* color for valueBox */
.small-box.bg-blue {
    background-color: #00ccff !important ;
    color: #000000 !important;  }
