/* align checkboxGroupInput */
.checkbox-inline {
    margin-left: 0px;
    margin-right: 1px;
}
.checkbox-inline+.checkbox-inline {
    margin-left: 0px;
    margin-right: 1px;
}

/* color for valueBox */
.small-box.bg-yellow {
    background-color: #FFFF00 ;
    color: #000000;  }
